absl-py
alembic
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-generator
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
blis
cachetools
catalogue
certifi
certipy
cffi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
cryptography
cupy-cuda12x
cycler
cymem
debugpy
decorator
defusedxml
entrypoints
exceptiongroup
executing
fastjsonschema
fastrlock
filelock
flatbuffers
flit_core
fonttools
fqdn
fsspec
gast
gensim
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
idna
importlib-metadata
importlib-resources
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
joblib
JPype1
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-lsp
jupyter-server
jupyter_server_terminals
jupyter-telemetry
jupyterhub
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
konlpy
langcodes
libclang
lxml
Mako
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service
mpmath
munkres
murmurhash
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
oauthlib
opt-einsum
overrides
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pip
pkgutil_resolve_name
platformdirs
preshed
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
Pygments
pykospacing
pyOpenSSL
pyparsing
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
Send2Trash
setuptools
six
smart-open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
thinc
threadpoolctl
tinycss2
tomli
torch
torchaudio
torchtext
torchvision
tornado
tqdm
traitlets
typer
typing_extensions
tzdata
uri-template
urllib3
wasabi
wcwidth
weasel
webcolors
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
zipp